<!-- {% extends 'base.html'%} 
{% import 'macros.html' as macro %} 
{% block content%}
<div class="container">
    <div class="row home-pitches">
        
        <div class="col-md-9 all-pitches">
        <h2 class="title-pitches">Posted Pitches</h2>
        {{macro.displayAllPitches(all_pitches)}}
        </div>

        <div class="col-md-3">
            <h4 class="text-left">
            <span class="add" aria-hidden="true">Categories</span>  
            </h4>
            <ol class="category-list">
            {{ macro.displayCategoryList(categories) }}
            </ol>
        </div>
    </div>
</div>
{% endblock %} -->